<div class="center jumbotron">
  <h2>キャンペーン</h2>

  <h3>
    収納管理アプリ
    　シューノがついにリリース
  </h3>
</div>
<div class="storage-boxes">
  <h2>収納ボックス一覧</h2>
  <table>
    <tr>
      <td>
        <span>冷蔵庫</span>
        <%= link_to image_tag("vegetables.jpg", alt: "refrigerator box", size: "300x200"), 'http://rubyonrails.org/' %>
      </td>
      <td>
        <span>本棚</span>
        <%= link_to image_tag("bookshelf.jpg", alt: "bookshelf box", size: "300x200"), 'http://rubyonrails.org/' %>
      </td>
    </tr>
    <tr>
      <td>
        <span>調味料</span>
        <%= link_to image_tag("seasoning.jpg", alt: "seasoning box", size: "300x200"), 'http://rubyonrails.org/' %>
      </td>
      <td>
        <span>薬</span>
        <%= link_to image_tag("medicine.jpg", alt: "medicine box", size: "300x200"), 'http://rubyonrails.org/' %>
      </td>
    </tr>
  </table>
  <p><%= link_to "もっとみる　＞", storage_boxes_path %></p>
</div>
<dev class="my-groups">
  <div class="group">
    <%= link_to image_tag("meeting_img.jpg", alt: "株式会社シューノ管理部", width: "200px"), 'http://rubyonrails.org/' %>
    <p>株式会社シューノ管理部</p>
  </div>
  <div class="group">
    <%= link_to image_tag("meeting_img.jpg", alt: "株式会社シューノ管理部", width: "200px"), 'http://rubyonrails.org/' %>
    <p>家族</p>
  </div>
  <div class="group">
    <%= link_to image_tag("meeting_img.jpg", alt: "株式会社シューノ管理部", width: "200px"), 'http://rubyonrails.org/' %>
    <p>職場</p>
  </div>
  <p>グループ登録 ＞</p>
</dev>

<%#= link_to image_tag("bookshelf.jpg", alt: "bookshelf box"), 'http://rubyonrails.org/' %>